::-webkit-scrollbar { 
    display: none; 
}

body {
	background: #000000 url("assets/drum-bg.jpg") fixed no-repeat;
    background-size: 100%;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
	color: white;
	margin: 0 0;
}

#main-container{

}

#header{
	padding: 10px 0px;
	line-height: 50px;
	position: fixed;
	top: 0;
	background-color: #000000;
	height: 50px;
	width: 100%;
}

#header-left{
	float: left;
	display: inline-block;
	height: 100%;
	max-width: 100%;
	vertical-align: middle;
	padding-left: 10px;
}

#name{
	font-size: 36px;
	display: inline-block;
}

#careers{
	font-size: 14px;
	display: inline-block;
}

#header-right{
	float: right;
	display: inline-block;
	height: 100%;
	max-width: 100%;
	vertical-align: middle;
	padding-right: `10px;
}

#social-media{
	display: inline-block;
	height: 100%;
	max-width: 100%;
}

#social-media a{
	text-decoration: none;
	outline: 0;
}

#social-media img {
	display: inline-block;
	width: auto;
	max-height: 100%;
	padding: 0px 3px;
}

#post-header{
	position: fixed;
	top: 70px;
	right: 0;
	background-color: rgba(90, 90, 90, 0.5);
	float: right;
	max-width: 55%;
	width: 50%;
	max-height: 50px;
	padding: 5px 10px;
	opacity: 1;
	text-align: center;
}

#post-header > .is-visible {
	display: inline-block;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
	text-align: left;
}
 
#post-header > .is-hidden {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.quotes{
	margin: auto;
	font-size: 14px;
}

.q-source{
	float: right;
	font-size: 11px;
}

#main-content{
	margin-top: 150px;
}

#content-left{
	position: fixed;
	left: 0;
	display: inline-block;
	background-color: rgba(90, 90, 90, 0.5);
	float: left;
	max-width: 40%;
	height: auto;
}

#logo{
	text-align: center;
	padding: 10px 5px;
}

#logo img{
	max-width: 200px;
	height: auto;	
}

#bio{
	padding: 10px 10px;
}

#content-right{
	display: inline-block;
	float: right;
	width: 65%;
	height: auto;
	text-align: center;
}

#margin-setter{
	height: 100vh;
	-webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

#video-player{
	max-width: 90%;
	margin: 0px auto;
}

#video-player iframe{
	max-width: 100%;
	max-height: auto;
}

#mp3-player{
	max-width: 90%;
	margin: 20px auto;
}

#mp3-player iframe{
	max-width: 100%;
	max-height:auto;
}

#footer{
	position: fixed;
	bottom: 0;
	background-color: #000000;
	height: 50px;
	width: 100%;
	font-size: 11px;
}

#footer-right{
	float: right;
	height: 100%;
	max-width: 100%;
	line-height: 50px;
}

#thank-you{
	float: right;
	display: inline-block;
	height: 100%;
	width: auto;
	vertical-align: middle;
}

#sponsor-logos{
	float: right;
	display: inline-block;
	height: 100%;
	width: auto;
	vertical-align: middle;
}

#sponsor-logos a{
	text-decoration: none;
	outline: 0;
}

#sponsor-logos img{
	display: inline-block;
	height: 60%;
	width: auto;
	vertical-align: middle;
	padding: 0px 3px;
}

#pre-footer{
	float: right;
	text-align: right;
	height: 50px;
	max-width: 100%;
	margin-bottom: 60px;
	margin-top: 20px;
	font-size: 11px;
}

#copyright{
	padding: 0px 10px;
}

#design-by{
	padding: 2px 10px;
	line-height: 23px;	
}

#bg-mobile{
	height: 0;
	max-height: 0;
}

#bg-mobile img{
	height: 0;
	width: 0;
}

/* Responsive CSS */
@media only screen and (max-width : 840px) {
	
	body {
		background: #000000;
		background-size: 100%;
		font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
		-webkit-font-smoothing: antialiased;
		color: white;
		margin: 0 0;
	}
	
	#main-container{
		
	}
		
	#header{
		position: relative;
		padding: 10px 0px;
		background-color: #000000;
		height: auto;
		text-align: center;
		width: 100%;
	}

	#header-left{
		background-color: #000000;
		display: block;
		height: auto;
		width: 100%;
	}

	#name{
		padding-top: 15px;
		font-size: 36px;
		display: inline-block;
		width: 100%;
	}

	#careers{
		font-size: 14px;
		display: inline-block;
		width: 100%;
		height: 50px;
	}

	#header-right{
		background-color: #000000;
		display: block;
		height: auto;
		width: 100%;
	}

	#social-media{
		display: inline-block;
		height: 100%;
		max-width: 100%;
	}

	#social-media a{
		text-decoration: none;
		outline: 0;
	}

	#social-media img {
		display: inline-block;
		width: auto;
		max-height: 50px;
		padding: 0px 3px;
	}

	#post-header{
		top: 0;
		position: relative;
		background-color: rgba(90, 90, 90, 0.5);
		float: right;
		max-width: 100%;
		width: 100%;
		max-height: 60px;
		padding: 5px 0px;
		opacity: 1;
		text-align: center;
	}

	#post-header > .is-visible {
		display: inline-block;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		-o-transition: all 2s ease;
		transition: all 2s ease;
	}
	 
	#post-header > .is-hidden {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	.quotes{
		margin: auto;
		font-size: 14px;
		padding: 5px 10px;
	}

	.q-source{
		float: right;
		font-size: 11px;
		padding: 5px 10px;
	}

	#main-content{
		margin-top: 0;
	}

	#content-left{
		position: relative;
		display: inline-block;
		background-color: rgba(90, 90, 90, 0.5);
		float: left;
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	#logo{
		text-align: center;
		padding: 20px 5px;
	}

	#logo img{
		max-width: 200px;
		height: auto;	
	}

	#bio{
		padding: 10px 10px;
	}

	#content-right{
		display: inline-block;
		float: right;
		width: 100%;
		height: auto;
		text-align: center;
	}

	#margin-setter{
		height: 0vh;
	}
	
	#video-player{
		max-width: 90%;
		margin: 0px auto;
	}

	#video-player iframe{
		max-width: 100%;
		max-height: auto;
	}

	#mp3-player{
		max-width: 90%;
		margin: 0px auto;
		margin-bottom: 60px;
	}

	#mp3-player iframe{
		max-width: 100%;
		max-height:auto;
	}

	#footer{
		position: fixed;
		bottom: 0;
		background-color: #000000;
		height: 50px;
		width: 100%;
		font-size: 11px;
	}

	#footer-right{
		float: right;
		height: 100%;
		max-width: 100%;
		line-height: 50px;
	}

	#thank-you{
		float: right;
		display: inline-block;
		max-height: 100%;
		width: auto;
		vertical-align: middle;
	}

	#sponsor-logos{
		float: right;
		display: inline-block;
		max-height: 100%;
		width: auto;
		vertical-align: middle;
	}

	#sponsor-logos a{
		text-decoration: none;
		outline: 0;
	}

	#sponsor-logos img{
		display: inline-block;
		height: 60%;
		width: auto;
		vertical-align: middle;
		padding: 0px 3px;
	}

	#pre-footer{
		float: right;
		text-align: right;
		height: 50px;
		max-width: 100%;
		margin-bottom: 60px;
		margin-top: 20px;
		font-size: 11px;
	}
	
	#copyright{
		padding: 0px 10px;
	}

	#design-by{
		padding: 2px 10px;
		line-height: 23px;	
	}
	
	#bg-mobile{
		margin: 0 0;
		display: inline-block;
		height: auto;
		width: 100vw;
	}
	
	#bg-mobile img{
		width: 100vw;
		height: auto;
	}
}